*{
    margin: 0px;
    padding: 0px;
   /* border: 1px solid red;*/
}
body{
    background: #f4f4fa;
    color: #2c2c2c;
}

header{
  background: #ffffff;
  height: 60px;
  display: flex;
}

.logo{
  border-radius: 100%;
  border: 4px solid #000200;
  margin: 5px;
  width: 44px;
}
a{
  width: 100%;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;  
  text-decoration: none;
  text-align: center;
  margin: 10px;
  padding: 10px;  

}

.redes{
  border-radius: 10px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  margin: 5px;  
  width: 50px;
}
main{
    width: 50%;
    margin: 10px auto;
}
h1{
    text-align: center;
    margin: 10px;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    
  }
  
  td, th {
    text-align: left;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  footer{
    display: block;
    
}
.basef{
    width: 400px;
    margin: 10px auto;
}

.alura{
    margin: 10px;
    width: 100px;
    padding: 10px;
}
h2{
  text-align: center;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}
p{
  text-align: center;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}

@media only screen and (max-width: 600px) {
   
  main{
      width: 90%;
  }

      section{
      width: 100%;
      margin: 0px auto;
      text-align: center;
  }
  .basef{
    width: auto;
    margin: 10px auto;
}
}